# Env file for data service


DATA_DB_USER=data_user
DATA_DB_PASS=data_pass
DATA_DB_NAME=data_db

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_data:5432/data_db
SPRING_DATASOURCE_USERNAME=data_user
SPRING_DATASOURCE_PASSWORD=data_pass

# External APIs
FREE_DICTIONARY_API=https://api.dictionaryapi.dev/api/v2/entries/en
GOOGLE_TRANSLATE_API=https://translate.googleapis.com